.chat {
  flex: 2;
  border-left: 2px solid #dddddd35;
  border-right: 2px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat .top {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd35;
}
.top .user {
  display: flex;
  align-items: center;
  gap: 20px;
}
.chat .user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.chat .texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.chat .texts span {
  font-size: 18px;
  font-weight: bold;
}
.chat .texts p {
  font-size: 14px;
  font-weight: 300;
  color: #a5a5a5;
}
.chat .icons {
  display: flex;
  gap: 20px;
}
.chat .icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.chat .center {
  flex: 1;
  padding: 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chat .center .message {
  max-width: 70%;
  display: flex;
}
.chat .message img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.chat .message .texts {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
}
.chat .message .texts p {
  padding: 20px;
  background-color: rgba(17, 25, 40, 0.3);
  color:white;
  border-radius: 10px;
}
.chat .message .texts span {
  font-size: 13px;
}
.chat .center .message.own {
  align-self: flex-end;
}
.chat .own .texts p {
  background-color: #5183fe;
  padding: 20px;
}
.chat .own .texts img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.chat .bottom {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dddddd35;
  gap: 20px;
  margin-top: auto;
}
.chat .bottom .icons {
  display: flex;
  gap: 20px;
}
.chat .bottom img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.chat .bottom input {
  flex: 1;
  background-color: rgba(17, 25, 40, 0.5);
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
}
.chat .sendButton {
  background-color: #5183fe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.chat .emoji {
  position: relative;
}
.chat .emoji .picker {
  position: absolute;
  bottom: 50px;
  left: 0;
}
